.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 7; }
    .div2 { grid-area: 1 / 7 / 2 / 11; }
    .div3 { grid-area: 1 / 11 / 2 / 13; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 12 / 3 / 13; }
    .div6 { grid-area: 2 / 2 / 3 / 12; }

    div {
        background-color: blueviolet;
        height: 200px; 
    }